{% extends 'base.html' %}
{% block content %}

{% include 'navbar.html' %}

<p><em>Please do not mess up my testing server. This ruins it for everybody. Thanks!</em></p>
<h1>ECE250 (Winter 2020) Testing Server</h1>

<p>
  Hi. Feel free to use this server to test your ECE 250 projects. You can upload
  your source code and it will be automatically compiled and compared against
  various test cases. You can contribute to the test cases at
  <a href="https://github.com/ece23/ECE250-testCases" target="_blank" rel="noopener noreferrer">https://github.com/ece23/ECE250-testCases</a>.
  Anyone is free to contribute to the development of test cases!
</p>

<p>
  Author: John Liu
</p>

<p>Choose the project you want to test:</p>
<a href="{{ url_for('projects.projects', project_num=0) }}">p0</a>
<a href="{{ url_for('projects.projects', project_num=1) }}">p1</a>

{% endblock %}
