{% extends 'base.html' %}
{% block content %}

{% include 'navbar.html' %}

<p>COVID-19 update: please stay safe and be cautious of any interactions you have with people. -John</p>

<p><em>Please do not purposefully mess up my testing server. This ruins it for everybody. Thanks!</em></p>
<h1>ECE250 (Winter 2020) Testing Server</h1>

<p>
  Hi. Feel free to use this server to test your ECE 250 projects. You can upload
  your source code and it will be automatically compiled against the given test cases.
</p>

<p>
<strong>
  Author: John Liu
</strong>
</p>

<p>Choose the project you want to test:</p>
<a href="{{ url_for('projects.projects', project_name='p0') }}">p0</a>
<a href="{{ url_for('projects.projects', project_name='p1') }}">p1</a>
<a href="{{ url_for('projects.projects', project_name='p2ordered') }}">p2ordered</a>
<a href="{{ url_for('projects.projects', project_name='p2open') }}">p2open</a>
<a href="{{ url_for('projects.projects', project_name='p3') }}">p3</a>
<a href="{{ url_for('projects.projects', project_name='p4') }}">p4</a>
<a href="{{ url_for('projects.projects', project_name='p5') }}">p5 (note: make sure your executable is called undirectedGraphdriver with a capital G - this is how its written in the documents)</a>

{% endblock %}
