{% extends 'base.html' %}
{% block content %}

<p><em>Please do not mess up my testing server. This ruins it for everybody. Thanks!</em></p>
<h1>ECE250 (Winter 2020) Testing Server</h1>
<p></p>

<p>Select and upload all relevant files (*.cpp, *.h, Makefile). Do not upload any folders or compressed files. Make sure that
the executable filename is <strong>playlistdriver</strong>.</p>
<form enctype="multipart/form-data" action="/upload/{{ project_num }}" method="post">
  <input type="file" name="src" multiple />
  <input type="submit" name="submit" />
</form>

{% endblock %}
