{% extends 'base.html' %}
{% block content %}

{% if all_passed %}
  <h1>All test cases sucessfully passed!</h1>
{% else %}
  <h1 style="color: red;">Not all test cases successfully passed</h1>
{% endif %}

{% for test_case in test_cases %}
  <h1>
    Test Case {{ test_case.num }}:
    {% if test_case.success %}
      <strong style="color: green;">Success!</strong>
    {% else %}
      <strong style="color: red;">Fail</strong>
    {% endif %}
  </h1>

  {% if test_case.timed_out %}
    <p>Timed out</p>
  {% else %}
    <div class="test-case-container">
      <div style="padding-right: 16px;">
        <h2>Expected</h2>
        <p>
          {% for line in test_case.expected %}
            {{ line }}<br>
          {% endfor %}
        </p>
      </div>
      <div>
        <h2>Actual</h2>
        <p>
          {% for line in test_case.actual %}
            {{ line }}<br>
          {% endfor %}
        </p>
      </div>
    </div>
  {% endif %}

{% endfor %}

{% endblock %}
