{% extends 'base.html' %}
{% block content %}

<p><em>Please do not mess up my testing server. This ruins it for everybody. Thanks!</em></p>
<h1>ECE250 (Winter 2020) Testing Server</h1>
<p></p>

<p>You may submit your source code for automated testing through one of two ways:
  <ol>
    <li>Upload your .tar.gz file</li>
    <li>Upload all *.cpp, *.h files and your Makefile simultaneously.</li>
  </ol>

  Only .cpp, .h files and the Makefile will be used in the compilation process.
  Make sure that the the executable filename is <strong>playlistdriver</strong>.
</p>

<form enctype="multipart/form-data" action="/upload/{{ project_num }}" method="post">
  <input type="file" name="src" multiple />
  <input type="submit" name="submit" />
</form>

{% endblock %}
