{% extends 'base.html' %}
{% block content %}

{% if all_passed %}
  <h1>All test cases sucessfully passed!</h1>
{% else %}
  <h1 style="color: red;">Not all test cases successfully passed</h1>
{% endif %}

{% for num, expected_output, actual_output, success in test_cases %}
  <h1>
    Test Case {{num}}:
    {% if success %}
      <strong style="color: green;">Success!</strong>
    {% else %}
      <strong style="color: red;">Fail</strong>
    {% endif %}
  </h1>

  <div class="test-case-container">
    <div style="padding-right: 16px;">
      <h2>Expected</h2>
      <p>
        {% for line in expected_output %}
          {{line}}<br>
        {% endfor %}
      </p>
    </div>
    <div>
      <h2>Actual</h2>
      <p>
        {% for line in actual_output %}
          {{line}}<br>
        {% endfor %}
      </p>
    </div>
  </div>
{% endfor %}

{% endblock %}
